<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '906277536166460',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-19525199-1']);
   _gaq.push(['_trackPageview']);

   (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0];
     s.parentNode.insertBefore(ga, s);
   })();
</script>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button", data-toggle="collapse" data-target="navbar-collapse1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div><!-- .navbar-header -->
    <div class="collapse navbar-collapse" id="navbar-collapse1">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.url }}"> {{ site.title }} </a></li>
      </ul>
    </div><!-- #navbar-collapse1 -->
  </div><!-- .container-fluid -->
</nav>
