<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="row">
      <div class="col-md-3">
        <div style="width: 180px; margin: 0 auto;">
          <img src="/images/logo.png" alt="Now Interactive LLC"></img>
        </div>
        <p style="width: 180px; margin: 20px auto;">
          subscribe 
          <a href="{{ "/feed.xml" | prepend: site.url }}">
            <i class="fa fa-rss" aria-hidden="true"></i>
          </a>
        </p>
      </div>
      <div class="col-md-6">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
