<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="row">
      <div class="col-md-3">
        <div style="width: 180px; margin: 0 auto;">
          <img src="/images/logo.png" alt="Now Interactive LLC"></img>
        </div>
        <p style="width: 180px; margin: 20px auto;">
          subscribe 
          <a href="{{ "/feed.xml" | prepend: site.url }}">
            <i class="fa fa-rss" aria-hidden="true"></i>
          </a>
        </p>
      </div>
      <div class="col-md-6">
        {{ content }}
        <div
          class="fb-like"
          data-share="true"
          data-width="450"
          data-show-faces="true">
        </div>
        <div 
          class="fb-comment-embed" 
          data-href="{{ page.url | prepend: site.url }}" 
          data-width="560" 
          data-include-parent="false">
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
